div{
    background: purple;
    color: white;
}


#quote {
    font-family: "verdana", "gill sans";
    color: black;
}


.movie {
    color: white;
    background: steelblue;
}


span#author {
    text-transform: uppercase;
}


#skills ol li {
    color: yellow;
    background: white;
}


#skills ul li {
    color: blue;
}

h3 + p {
    background: black;
    color: white;
}

p[id] {
    background: gray;
}